{

    "presets": [
        ["env"]
	],
	"plugins": [ "syntax-flow","typecheck","transform-flow-strip-types",  "transform-class-properties"]
}
//,
//"plugins": [ "syntax-flow","typecheck","transform-flow-strip-types",  "transform-class-properties"]

//"transform-flow-strip-types",
//"typecheck",
//"syntax-flow",
//,"react-hot-loader/babel"
